.idea
*.js
*.js.map
!jest.config.js
*.d.ts
node_modules
dev

cdk.context.json
local-template.yaml

# CDK asset staging directory
.cdk.staging
cdk.out
.aws-sam

**/aws-toolkit-ts-output
**/aws-toolkit-tsconfig.json
